.button-standard {
  background-color: #3e1cda;
  color: white;
  height: 2.5rem;
  width: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2.5px;
}

.button-standard-link {
  text-decoration: none;
  color: white;
}
