.learn-more-button {
  background-color: #3e1cda;
  color: white;
  height: 3.5rem;
  width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2.5px;
}

.learn-more-button-link {
  text-decoration: none;
  color: white;
}
