.logo-link-container {
  height: fit-content;
  width: fit-content;
  text-decoration: none;
  color: white;
  font-size: x-large;
  font-weight: 700;
}

.logo-link-container.active {
  height: fit-content;
  width: fit-content;
  text-decoration: none;
  color: black;
  font-size: x-large;
  font-weight: 700;
}
