.app {
  width: 100%;
  background-image: linear-gradient(#090020, #060016, #050011);
}
.nav-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 1500vh;
}

.main-container-contact {
  height: 87.5vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
