.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  justify-content: center;
}

.logo-nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  left: 5vw;
  height: 10vh;
  margin-top: 2.5vh;
  font-size: large;
}

.nav-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  margin-top: 2.5vh;
  width: 50vw;
}

.nav-item-link {
  height: fit-content;
  width: fit-content;
  text-decoration: none;
  color: white;
}

.nav-item-link-active {
  height: fit-content;
  width: fit-content;
  border-bottom: solid 2px #884ADD;
}