.nav-container {
  transition: 250ms linear;
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  justify-content: center;
}

.nav-container.active {
  transition: 250ms linear;
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  justify-content: center;
  background-color: white;
  color: black;
}

.logo-nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  left: 5vw;
  height: 7.5vh;
  margin: 2.5vh;
  font-size: large;
}

.nav-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 7.5vh;
  margin: 2.5vh;
  width: 35vw;
}
.learn-more-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  right: 5vw;
  height: 7.5vh;
  margin: 2.5vh;
  font-size: large;
}

.nav-item-link {
  height: fit-content;
  width: fit-content;
  text-decoration: none;
  color: white;
}

.nav-item-link.active {
  height: fit-content;
  width: fit-content;
  text-decoration: none;
  color: black;
}

.nav-item-link-active {
  height: fit-content;
  width: fit-content;
  border-bottom: solid 2px #3e1cda;
}
