.announcement-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 25vh;
  width: 75vw;
  padding: 10vh 5vw;
}

.announcement-text {
  font-size: 64px;
  margin: 0;
}
