.announcement-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  height: 70vh;
  width: 40vw;
  padding: 10vh 5vw;
}

.announcement-text {
  font-size: 64px;
  margin: 0;
}

.description-text-container {
  display: inline;
}

.poppn-text, .payment-text, .system-text {
  display: inline;
  font-size: large;
}

.poppn-text {
  color: #DE5174;
}

.payment-text {
  color: #FFb102
}

.system-text {
  color: #0386FF;
}